[Unit]
Description=Setup Quectel 4/5G Module
After=multi-user.target

[Service]
ExecStart=/usr/bin/quectel start
ExecStop=/usr/bin/quectel stop
ExecReload=/usr/bin/quectel restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target